body{
    background-image: url(hatterkep.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    margin: auto;
    border-radius: 10px;
    width: 80%
}

#question{
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

#answer1 > input{
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(142, 243, 247);
    width: 1000px;
}

#answer1 > input::-webkit-slider-thumb {
    appearance: none;
    border: none;
    width: 180px;
    height: 180px;
    background: url(földecske.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

#answer1 > input::-moz-range-thumb {
    appearance: none;
    border: none;
    width: 180px;
    height: 180px;
    background: url(földecske.png);
    background-size: contain;
}

#answer1 > input::-moz-range-progress{
    background-color: rgb(82, 77, 133);
}

#buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}

#button2{
    filter: brightness(50%);
}
#button3{
    filter: brightness(50%);
}
#button4{
    filter: brightness(50%);
}
#button5{
    filter: brightness(50%);
}
#button6{
    filter: brightness(50%);
}
#button7{
    filter: brightness(50%);
}
#button8{
    filter: brightness(50%);
}
#button9{
    filter: brightness(50%);
}
#button10{
    filter: brightness(50%);
}

#answers > div{
    display: none;
    
}

#questions > p{
    display: none;
    
}

#answers > div:first-child{
    display: unset;
}

#questions > p:first-child{
    display: unset;
}

#answers{
    margin-top: 20px;
    background-color: rgba(131, 131, 211, 0.562);
    height: 600px;
    width: 100%;
    text-align: center;
    
}

#questions{
    margin-top: 40px;
   background-color: rgba(131, 131, 211, 0.562); 
}

p{
    font-size: 45px;
}

input{
    margin-top: 100px;
}

#answer3 > input{
    margin-top: 10px;
    width: 100px;
    height: 20px;
}

output{
    margin-left: 10px;
    font-size: xx-large;
}

#answer3 img{
    margin-top: 30px;
}

table{
    text-align: left;   
    width: 90%;
}

td, th{
    padding-right: 120px;
}

#answer2{
    font-size: 25px;
    
}

#answer2 input, #answer6 input{
    width: 25px;
    height: 25px;
}

#answer9 input{
    font-size: 65px;
    border-radius: 6px;
    border: 0px;
    background-color: rgb(84, 84, 167);
    
}

#answer9 input::-webkit-calendar-picker-indicator{
    background-color: rgb(84, 84, 167);
    color-scheme: rgb(84, 84, 167);
}

#eredmeny{
    text-align: center;
}